@model RealEstate.Models.Seller
@{
    Layout = "~/Views/shared/_layout_admin.cshtml";
    ViewBag.title = "AgentDetail";
    ViewBag.active = 3;
}

<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <!-- Latest Properties -->
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="card-header-prop">
                            <div class="page-titles">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a asp-area="" asp-controller="Admin" asp-action="Agent">
                                            Agent
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a asp-area="" asp-controller="Admin" asp-action="AgentDetail">
                                            AgentDetail
                                        </a>
                                    </li>
                                </ol>
                                <button type="submit"
                                        class="au-btn au-btn-icon au-btn--green au-btn--small float-right">
                                    <a asp-area="" asp-controller="Admin" asp-action="EditingAgent" asp-route-id="@Model.Id" style="color: white">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <section class="section about-section gray-bg" id="about">
                        <div class="container">
                            <div class="row flex-row-reverse">
                                <div class="col-lg-12" style="margin-right:0px">
                                    <div class="about-avatar col-lg-4 float-right">
                                        <img src="~/img/@Model.Image" title="" alt="" style="border-radius: 5%">
                                    </div>
                                    <div class="about-text go-to">
                                        <h3 class="dark-color">About Me</h3>
                                        <h6 class="theme-color lead">Top Tier Agency </h6>
                                        <p>I am<mark> a director and making</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p>
                                        <div class="row about-list">
                                            <div class="col-md-4">
                                                <div class="media">
                                                    <label>
                                                        Name
                                                    </label>
                                                    <p>@Model.Name</p>
                                                </div>
                                                <div class="media">
                                                    <label>Address</label>
                                                    <p>@Model.Address</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="media">
                                                    <label>E-mail</label>
                                                    <p>@Model.Email</p>
                                                </div>
                                                <div class="media">
                                                    <label>Phone</label>
                                                    <p>@Model.Phone</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="media">
                                                    <label>Username</label>
                                                    <p>@Model.UserName</p>
                                                </div>
                                                <div class="media">
                                                    <label>Password</label>
                                                    <p>@Model.PassWord</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <div class="count-data text-center">
                                            <i class="fab fa-twitter count"></i>
                                            <p class="m-0px font-w-600">Twitter</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="count-data text-center">
                                            <i class="fab fa-facebook count"></i>
                                            <p class="m-0px font-w-600">Facebook</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="count-data text-center">
                                            <i class="fab fa-google-plus-g count"></i>
                                            <p class="m-0px font-w-600">Gmail</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="count-data text-center">
                                            <i class="fas fa-share count"></i>
                                            <p class="m-0px font-w-600">Share</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
